.media-display {
    &__content {
        cursor: pointer;
    }

    &__img {
        display: block;
        height: 180px;
        object-fit: cover;
        transition: all .3s;
        width: 100%;

        &:hover {
            box-shadow: 0px 0px 6px rgba(0,0,0,.2);
            transform: scale(1.1);
        }
    }

    &__input {

        &:checked + .media-display__image {
            @extend .border-primary;
            @extend .shadow;

            border-width: 4px !important;
        }

    }
}

.gallery {
    &__thumbnail {
        @extend .img-fluid;
        height: 100px;
        object-fit: cover;
    }
}
