// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~icheck-bootstrap/icheck-bootstrap.css';

// Select2
@import '~select2/dist/css/select2.css';

// Datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';

// AdminLTE
@import '~overlayscrollbars/css/OverlayScrollbars.min.css';
@import '../../public/vendor/adminlte/dist/css/adminlte.min.css';

// Custom
@import 'itinerary';
@import 'media';

html, body, table {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

body {
    background-color: #f4f6f9;
}

section {
    @extend .bg-white;
    @extend .p-4;
    @extend .rounded;
    @extend .shadow-sm;
}

img { object-fit: cover !important; }

.title { font-size: 1.5em; }
.table td { vertical-align: middle; }
.loading {
    animation: loading linear 2s infinite;
    font-size: 3rem;
}

@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
